.imagen {
  margin-bottom: 50px;
}

@media screen
  and (device-width: 300px)
  and (device-height: 720px) {

}

.footer {
  margin-top:auto;
  text-align: center;
  width: auto;
  height: auto;
  background-color: #007b5e;
}
